基于STM32F4的zigbee终端_电灯/*.code-workspace
基于STM32F4的智能家居/*.code-workspace
OBJ

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/python,visualstudiocode