.code-workspace
OBJ

# Created by https://www.gitignore.io/api/python,visualstudiocode
# Edit at https://www.gitignore.io/?templates=python,visualstudiocode

### mPy ###
mPy-ESP32/src/secret.py
mPy-ESP32/.micropy
mPy-ESP32/.vscode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/python,visualstudiocode

### Micropy Cli ###
.micropy/
!micropy.json
!src/lib
